#contenido h1{
    text-align: justify;
    color: blanchedalmond;
}

#contenido h3{
    text-align: center;
    margin-inline-end: 0em;
    color: #0264fb;
    font-size: 4em;
}

#contenido h4{
    text-align: center;
    margin-inline-end: 0em;
    color: black;
    font-size: 1em;
}

#contenido .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contenido article{
    margin: 0.5px;
}

#contenido img{
    width: 6.35em;
    max-width: 17.5em;
}

#contenido nav{
    text-align: right;
    width: 100%;
	height: 2em;
    background: #0264fb; 
	color:#fff;

	position: fixed;
	top: 0;
    left: 0;
	z-index: 100;
}